@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
       @apply  flex justify-center h-screen w-screen items-center bg-white px-20 font-sans-serif
    }
    main {
        @apply flex flex-col items-center justify-center w-full
    }
    h1 {
        @apply text-primary text-center
    }
    .budgetcard {
        @apply w-full mx-10
    }
    .switch-mode {
        @apply flex justify-center my-3 w-full space-x-6
    }
    .switch-mode > button, .continue {
        @apply w-1/2 p-2 border border-secondary-light cursor-pointer bg-secondary-light text-primary-light hover:bg-secondary-dark rounded-full
    }
    .switch-mode > button.active {
        @apply w-1/2 bg-secondary-dark border border-secondary-dark text-primary-light rounded-full
    }
    main form {
        @apply flex flex-col w-full space-y-4
    }
   
    input, textarea {
        @apply py-2 px-4 border-2 border-gray-200 w-full rounded-md
    }
    .continue {
        @apply w-full
    }
    .contact-image {
        @apply rounded-lg filter drop-shadow-2xl
    }
}


